<div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
            <li class="" data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox" >
            {% set flag = true %}
            {% for imagen in banners %}
                {% if flag %}
                    <div class="item active">
                    {% set flag = false %} 
                {% else %}
                    <div class="item ">
                {% endif %}
                    <img src="/{{imagen.getWebPath()}}" alt="First">
                    <div class="container">
                        <div class="carousel-text">
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Pr&oacute;ximo</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">&Uacute;ltimo</span>
        </a>
    </div>