{% for flash in app.session.flashbag().get('success') %}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-check"></span> {{flash}}
    </div>
{% endfor %}
    
{% for flash in app.session.flashBag().get('fail') %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign"></span> {{flash}}
    </div>
{% endfor %}