{% extends "AppBundle::layoutAdmin.html.twig" %}

{%block content %}
    <h2>Listar contactos</h2>
    {% include "AppBundle:widget:flash.html.twig" %}
    <div class="col-md-12">
        {% for result in results %}
            <div class="thumbnail">
                <h2>{% if result.enviado %}<span class="glyphicon glyphicon-check"></span>{%else%}<span class="glyphicon glyphicon-unchecked"></span>{%endif%} {{result.nombre}}</h2>
                <div>
                    <label>Hora:</label> {{result.created|date("d-m-Y H:i:s")}}
                </div>
                <div>
                    <label>Correo electr&oacute;nico:</label> {{result.correo}}
                </div>
                <div>
                    <label>Direcci&oacute;n IP:</label> {{result.ip}}
                </div>
                <div>
                    <label>Nota:</label> {{result.nota}}
                </div>
            </div>
        {%else%}
            <div> <span class="glyphicon glyphicon-warning-sign"></span> No se han producido contactos</div>
        {% endfor %}
    </div>
{% endblock %}