{% extends "AppBundle::layoutAdmin.html.twig" %}

{%block content %}
    <h2>Listar banners</h2>
    {% include "AppBundle:widget:flash.html.twig" %}
    <div class="col-md-12"><a href="{{path('create_banner')}}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo</a></div>
    <div class="col-md-12 list">
        {% for key in results|keys %}
            {% if key == 0 or (key != 1 and (key-1) is divisibleby(3)) %}
            <div class="col-md-12">
            {% endif %}    
                <div class="col-md-3 thumbnail">
                    <img src="/{{results[key].getWebPath()}}"  alt="{{results[key].getWebPath()}}"/>
                    <div class="caption">
                        <h3>
                            {{results[key].nombre}}
                        </h3>
                        {% if results[key].activo != true %}
                            <div class="alert alert-info"><span class="glyphicon glyphicon-unchecked"></span> Desactivado</div>
                        {% else %}
                            <div class="alert alert-success"><span class="glyphicon glyphicon-check"></span> Activo</div>
                        {% endif %}
                        <div>
                            <a href="{{path('remove_banner', {'id':results[key].id})}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>    
                            {% if results[key].activo != true %}
                                <a href="{{path('cambiar_estado_banner', {'id': results[key].id})}}" class="btn btn-success" ><span class="glyphicon glyphicon-check"></span> Activar</a>
                            {% else %}
                                <a href="{{path('cambiar_estado_banner', {'id': results[key].id})}}" class="btn btn-primary" ><span class="glyphicon glyphicon-unchecked"></span> Desactivar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% if (key > 0 and (key) is divisibleby(3))or((results|length) == 1) %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{%endblock %} 