{% extends 'base.html.twig' %}
{% block stylesheets_custom %}
    <link href="{{ asset('/bundles/app/css/custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="logo" alt="Brand" src="{{ asset('image/logo.jpg') }}">
                </a>
                <ul class="nav navbar-nav" >
                    <li><a href="{{path('list_banner')}}"><span class="glyphicon glyphicon-picture"></span>Banner</a></li>
                    <li><a href="{{path('user_homepage')}}"><span class="glyphicon glyphicon-user"></span>Usuario</a></li>
                    <li><a href="{{path('list_contacto')}}"><span class="glyphicon glyphicon-comment"></span>Contacto</a></li>
                    <li><a href="{{path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span>Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-12">
        {%block content %}
        {%endblock %}     
    </div>
{% endblock %}
