{% extends 'base.html.twig' %}

{% block tags %}
    <meta name="robots" content="index,follow"> 
    <meta name="description" content="Hostal, casa particular, Breakfast and Bed, alquiler en La Habana, Cuba"> 
    <meta name="keywords" content="Hostal, casa particular, Breakfast and Bed, alquiler, La Habana, Cuba">
    
    <meta property="og:site_name" content="DevoraDVip" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="es_ES" >
    <meta property="og:title" content="DevoraDVip" >
    <meta property="og:description" content="DevoraDViP, hostal, casa particular, Breakfast and Bed, alquiler en La Habana, Cuba" >
    <meta property="og:url" content="http://www.devoradvip.cu" >

{% endblock tags %}
{% block stylesheets_custom %}
    <link href="{{ asset('/bundles/app/css/custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="logo" alt="Brand" src="{{ asset('image/logo.jpg') }}">
                </a>
                <ul class="nav navbar-nav" >
                    <li><a href="#services"><span class="glyphicon glyphicon-bell"></span>Servicio</a></li>
                    <li><a href="#location"><span class="glyphicon glyphicon-map-marker"></span>Ubicaci&oacute;n</a></li>
                    <li><a href="#contacto"><span class="glyphicon glyphicon-envelope"></span>Contacto</a></li>
                </ul>
            </div>

        </div>
    </nav>
    {%block content %}
    {%endblock %}                    
{% endblock %}
