<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block tags %}{% endblock %}
        <title>{% block title %}DViP su hostal en La Habana{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
            {% block stylesheets_custom %}
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts_custom %}{% endblock %}{% endblock %}
    </body>
</html>
