{% extends "AppBundle::layoutAdmin.html.twig" %}
{%block content %}
    <h2>Crear usuario</h2>
    {% include "AppBundle:widget:flash.html.twig" %}
    <div class="col-md-12">
        {{form_start(form, {'action':path(app.request.attributes.get('_route'))})}}
        {{form_widget(form)}}
        <div class="">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-save"></span> Guardar</button>
        </div>
    </div>
{%endblock %} 