Hola Dévora, te han enviado un mensaje a través del sitio devoradvip.com.

Contacto a nombre de: {{contacto.nombre|raw}}

Con correo: {{contacto.correo|raw}}

Y mensaje: {{contacto.nota}}

Fin del mensaje recibido.

A su servicio:

Robot de devoradvip.com
