nav.navbar.navbar-default.navbar-fixed-top
{
    background: #FFFFFF;
}

nav a
{
    float: left;
    width: auto;
}

.carousel-control
{
    background: none !important;
    bottom: none;
    height: 100px;
}

.carousel-inner img
{
    width: 100%;
}

.row.corpus h2, h1
{
    color: #FF5200;
    padding-top: 30px;
    padding-bottom: 10px;
}

.row.corpus ul
{
    padding-left: 20px;
}

.row.corpus ul li
{
    list-style: circle inside;
}
.row.corpus ul li ul li
{
    list-style: inside;

}
.paramount
{
    border-left: solid #ed9f01;
    padding-left: 20px;
}

.row.corpus
{
    text-align: left;
    font-size: 16px;
    font-family: Arial;
}

p
{
    text-align: justify;
}

.row.corpus
{
    padding: 7px;
}

.map_container
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.map
{
    margin-bottom: 10px;
}

.coll-btn
{
    margin-top: 5px;
    margin-right: 20px;
    padding: 7px;

}
.logo_header_container, .ending_container
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

ul.nav.navbar-nav li a
{
    padding-left: 3px;
    padding-right: 3px;
}

.form_contacto {
    padding: 10px;   
}

.contact_form_foot_note{
    margin-top: 10px;
}

.control
{
    margin-top: 10px;
}

div.form_contacto textArea, div.form_contacto input
{
    width: 100%;
}

div.list
{
    margin-top: 20px;
}

.list .thumbnail 
{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar.bottom
{
    text-align: center;
    color: gray;
    padding-top: 20px;
}

.error ul li
{
    text-align: center;
    padding: 3px;
    list-style: none !important;
}

.error
{
    color: #FF5200;
    font-weight: bold;
}
body { padding-top: 50px; font-family: Verdana, Arial};