{% extends "AppBundle::layout.html.twig" %}
{%block content %}
    {% include 'AppBundle:widget:carousel.html.twig' %}

    <div class="row corpus">
        <div class="row logo_header_container">
            <img src='{{ asset('image/logo_header.jpg') }}' class="logo_header">
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
        <div class="col-md-3 col-md-4 col-sm-5">
            <h2>
                <span class="glyphicon glyphicon-home"></span> DViP
            </h2>
            <p>Situado en el  corazón de la Habana, desde el Hostal DViP podrá disfrutar de la intensa actividad  social, cultural y recreativa de la ciudad, pues está rodeado de numerosos comercios, museos, hoteles y cabarets.</p>
            <p>A pocos metros encontrará diversos restaurantes y bares, entre los que se destacan La Bodeguita del Medio –cuna de mejor mojito cubano- y el Floridita, famoso internacionalmente por el Daiquirí delicia de la coctelería criolla que fascinó a Ernest Heminway.</p>
            <p>DViP se encuentra muy cerca de la zona patrimonial de <b>La Habana Vieja</b> –situada a orillas de la bahía-, de magnifica arquitectura colonial, que incluye entre otras joyas las fortalezas el Castillo de los tres Reyes del Morro, el Castillo de la Punta y San Carlos de la Cabaña. Desde esta última se dispara diariamente el “Cañonazo de las Nueve” en medio de una ceremonia militar a la usanza del siglo XVIII.</p>

            <h2 id="services">
                <span class="glyphicon glyphicon-bell"></span> Sobre los servicios</h2>
            <p>En DViP encontrará <b>seguridad, confort y calidad</b> en los servicios acorde a los estándares internacionales de hotelería y turismo, en un ambiente familiar y personalizado.</p>
            <p>Nos esforzamos por brindarle la mejor información y orientación, lo ayudamos a organizar su recorrido en función de sus intereses.</p>
            <p>La cordialidad, calidez en el trato y disposición a servirle harán de su visita a Cuba una experiencia grata y amena.</p>
            <ul class="paramount">
                <li>Agua fría y caliente las 24 horas.</li>
                <li>Servicio de habitación diario.</li>
                <li>Desayuno, comida.</li>
                <li>Teléfono.</li>
                <li>Lavandería.</li>
                <li>Tranfer aeropuerto.</li>
            </ul>
        </div>
        <div class="col-md-3 col-md-4 col-sm-5">
            <h2>
                <span class="glyphicon glyphicon-ok"></span> Caracter&iacute;sticas del hostal
            </h2>
            <p>El Hostal DViP cuenta con <b>habitaciones confortables, climatizadas, convenientemente amuebladas y dotadas de mini bar.</b></p>
            <p>Lo integran además un elegante comedor con cocina adjunta, modernamente equipada para que pueda disfrutar de las delicias culinarias cubanas o internacionales si así lo desea.</p>
            <p>Dispone  de espaciosas salas de estar y otras comodidades para su estancia placentera.</p>

            <h2 id="location"><span class="glyphicon glyphicon-map-marker"></span> Ubicaci&oacute;n</h2>
            <div class="map_container">
                <img src='{{ asset('image/map.jpg') }}' class="map">
                <address class="address"><b>Amistad 159 A (Bajos) entre Virtudes y Neptuno. <br> Centro Habana. La Habana. Cuba.</b></address>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>

    </div>
    <div class="row ending_container">
        <img src='{{ asset('image/ending.jpg') }}' class="ending">
    </div>
    <div class="row corpus">
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
        <div class="col-md-6 col-md-8 col-sm-10">
            <h2 id="contacto"><span class="glyphicon glyphicon-envelope"></span> Contacto</h2>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
    </div>
    <div class="row corpus">
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
        <div class="col-md-3 col-md-4 col-sm-5">
            <p>Puede contactarnos por las siguientes vías:</p>
            <ul class="paramount">
                <li>Email: 
                    <ul>
                        <li>devoradvip@nauta.cu</li> 
                        <li>devoradvip@gmail.com</li>
                        <li>devoradvip@devoradvip.com</li>
                    </ul>
                </li>
                <li>Teléfonos:  
                    <ul><li>(53) 786 35360</li> <li>(53) 5448 1414</li></ul></li>
            </ul>
        </div>
        <div class="col-md-3 col-md-4 col-sm-5">
            <p>O si lo prefiere directamente aqu&iacute;:</p>
            <div class="col-md-12 form_contacto">
                {{form_start(form, {'action':path(app.request.attributes.get('_route'))~'#contacto'})}}
                {{form_errors(form)}}
                {% for msg in app.session.flashbag.get('success')  %}
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span> {{msg}}
                    </div>
                {% else %}
                    {% for msg in app.session.flashbag.get('fail')  %}
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-warning-sign"></span> {{msg}}
                    </div>
                    {% endfor %}
                {% endfor %}
                <div class="">
                    <div class="col-md-12">
                        <div>{{form_label(form.nombre)}}</div>
                        <div>{{form_widget(form.nombre)}}</div>
                        <div class="error">{{form_errors(form.nombre)}}</div>
                    </div>
                    <div class="col-md-12"> 
                        <div>{{form_label(form.correo)}}</div>
                        <div>{{form_widget(form.correo)}}</div>
                        <div class="error">{{form_errors(form.correo)}}</div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12">{{form_label(form.nota)}}</div>
                    <div class="col-md-12">{{form_widget(form.nota)}}</div>
                    <div class="error">{{form_errors(form.nota)}}</div>
                </div>
                <div class="col-md-12 control">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-envelope"></span> Enviar</button>
                </div>
                {{form(form)}}

                <p class="col-md-12 contact_form_foot_note">
                    <b>Se responde a la solicitud de reservas en 24 horas.</b>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
        </div>
    </div>
    <div class="row ending_container">
        <img src='{{ asset('image/ending.jpg') }}' class="ending">
    </div>
        <div class="navbar bottom">DViP © 2015 - Powered by Megaxinull © 2015</div>
{%endblock %}